.navbar {
  display: flex;
  box-shadow: 0.1vw 0vw 0.4vw 0.03vw var(--color-base);
  line-height: 5vh;
  box-sizing: border-box;
  font-size: 80%;
  align-items: center;

  .left,
  .center-left,
  .center-right,
  .right {
    flex: 1;
  }

  // .left {
  //   flex: 1;
  // }
  // .center {
  //   flex: 1.5;
  // }
  // .right {
  //   flex: 1;
  // }

  .left {
    display: flex;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 2vw;

      a {
        line-height: 5vh;
        display: flex;
        align-items: center;

        // div {
        //   min-width: 3vw;
        // }
      }

      img {
        width: 5vh;
        height: 3.5vh;
        min-width: 20px;
      }
    }

    .pages {
      display: flex;

      .min-width {
        min-width: 60px;
        text-align: center;
        padding: 0 2vw;
      }

      .min-width2 {
        min-width: 35px;
        text-align: center;
        padding: 0 2vw;
      }
    }
  }

  .center-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    // margin-right: 9vw;
    // .fix {
    //   margin-right: 1vw;
    // }

    .rank-text {
      margin-right: 2vw;
      // min-width: 28vw;
      min-width: 140px;
    }
  }

  .center-right {
    display: flex;
    align-items: center;

    .rank {
      margin-left: 2vw;
      min-width: 120px;
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      line-height: 5vh;
      display: flex;
      align-items: center;
    }

    .nickname {
      color: var(--color-point);
      font-weight: 700;
      min-width: 100px;
    }

    .niceto {
      margin-right: 2vw;
      min-width: 65px;
    }

    svg {
      margin: 0 2vw 0 1vw;
      min-width: 30px;
    }
  }
}

.active {
  color: var(--color-point);
  font-weight: 700;
}

.dalkak {
  font-size: 1vw;
  font-weight: 950;
  text-align: start;
}

.nickname {
  color: var(--color-point);
  font-weight: 700;
  margin-right: 0.1vw;
}

.btn {
  &:hover {
    cursor: pointer;
  }
  min-width: 50px;
}
