.container {
  display: flex;
  // background-color: rebeccapurple;
}

.refrigerator-container {
  // background-color: orange;
  height: 95vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
}

.memo-container {
  // background-color: pink;
  height: 95vh;
  width: 30vw;
  padding-left: 3vw;
  box-sizing: border-box;
}
