.container {
  display: flex;
  height: 75vh;
}

.container-outer {
  // flex: 97;
  height: 75vh;
  width: 40vw;
  background-color: var(--color-base);
  display: flex;
  align-items: flex-end;
  border-radius: 0 10px 0 0;

  .container-inner {
    background-color: white;
    width: 30vw;
    height: 72vh;
    border-radius: 0 10px 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;

    .inside {
      width: 95%;
      height: 65vh;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: flex-start;
      margin: 2vw auto 0 auto;

      div {
        cursor: grab;
        // background-color: pink;
      }
    }
  }
  .container-inner::-webkit-scrollbar {
    width: 0;
  }
}

.hinges {
  // background-color: pink;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .hinge {
    background-color: var(--color-placeholder);
    height: 2vw;
  }
}
