.container {
  width: 27vw;
  line-height: 50px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 1rem;

  .name {
    flex: 4;
    text-align: left;
    padding-left: 2vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .line {
    background-color: #c8a390;
    width: 0.3vw;
    line-height: 5vh;
  }

  .delete {
    flex: 1;
    text-align: center;
    color: var(--color-placeholder);
    cursor: pointer;
  }
}
